
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nodexy1</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <h1>Welcome {{username}}!</h1>
    <p>Commit Home Page</p>
    <form method = "POST" action = "http://localhost:3307/postData">
      
      <input type = "text" name = "firstname"><br /><br />
      <input type = "text" name = "lastname"><br /><br />
      <input type = "submit" value = "Submite"><br /><br />
      
      
    </form>
</body>
</html>